<!DOCtype html>
<html lang="en">
    <head>
        <title>Todo App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="foundation/css/foundation.min.css"/>
        <link rel="stylesheet" type="text/css" href="foundation/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>        
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/angular.js"></script>
        <script src="js/moment.js"></script>      
    </head>
    <body ng-app="todoApp">
        <nav class="top-bar">
            <ul class="title-area">
                <li class="name">
                    <h1>
                        <a href="/">Simple Todo App</a>
                    </h1>
                </li>
            </ul>        
        </nav>
        <br>
        <div ng-controller="TodoCtrl">
            <div class="row">
                <div class="columns large-12 large-centered">
                    <div class="panel">
                        <p>This app is using MongoDB, ExpressJS, AngularJS, and Foundation.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns large-6">
                    <div class="add-form">
                        <h2>Add Todo</h2>
                        <form>
                            <input type="text" ng-model="todoText" placeholder="Enter a todo..." />
                            <button ng-click="addTodo()">Add Todo</button>
                        </form>
                    </div>
                    <div class="name-form">
                        <input type="text" ng-model="userName" placeholder="Enter your name..."/>
                        <button ng-click="setName()">Set Name</button>
                    </div>
                </div>
                <div class="columns large-5">
                    <h2>Array: $scope.todos</h2>
                    <ol>
                        <li ng-repeat=" todo in todos ">
                            <a ng-click="removeTodo($index)">{{todo.todoText}}</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="row">

                <div class="columns large-12">
                    
                    <h2>Array of Objects</h2>
                    <div class="panel">
                        {{todos}}
                    </div>
                </div>

            </div>


        
        </div><!-- end todo controller -->



        <script src="/foundation/js/vendor/zepto.js"></script>
        <script src="/foundation/js/vendor/jquery.js"></script>
        <script src="/foundation/js/foundation.min.js"></script>
        <script src="/foundation/js/foundation/foundation.section.js"></script>
        
        <script>$(document).foundation();</script>
        <script src="js/todoApp.js"></script>
    </body>
</html>